<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
   
   <context:annotation-config/>
   <bean id='textEditor' class="com.ibm.spring.TextEditor" scope="singleton"></bean>
   
    <bean id='spellChecker' class="com.ibm.spring.SpellChecker" scope="singleton"></bean>
   
   
   <bean id="javaCollection"
    class="com.ibm.spring.JavaCollection">
    
    <property name="addressList">
    	<list>
    		<value>INDIA</value>
    		<value>China</value>
    		<value>Japan</value>
    		<value>US</value>
    	</list>
    </property>
    
    <property name = "addressSet">
         <set>
            <value>INDIA</value>
            <value>China</value>
            <value>Japan</value>
            <value>US</value>
         </set>
      </property>

  
      <property name = "addressMap">
         <map>
            <entry key = "1" value = "INDIA"/>
            <entry key = "2" value = "China"/>
            <entry key = "3" value = "Japan"/>
            <entry key = "4" value = "US"/>
         </map>
      </property>
      
      
      <property name = "addressProp">
         <props>
            <prop key = "one">INDIA</prop>
            <prop key = "one">China</prop>
            <prop key = "two">Japan</prop>
            <prop key = "three">US</prop>
            
         </props>
      </property>
    
    
    
   
   </bean>
   
 </beans>